<a href="https://colab.research.google.com/github/Kusumitha-1/ml-workshop/blob/main/dataprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA PROCESSING:

Data processing means cleaning,transforming and organizing the rawdata into a usable format for analysis and machine learning.

Data processing techniques

Handling missing values

Removing duplicates

Correcting the data types

Encoding categorical data

Feature scaling,adding new features

Removing outliers

Splitting data for training and testing

Correlation analysis

In [18]:
import pandas as pd
df=pd.read_excel("/content/Book1.xlsx")

df

   name   age gender  marks     city
0  aaaa  12.0      f   87.0   london
1  bbbb   NaN      m   87.0  ew york
2  cccc  23.0      f   98.0      NaN
3  dddd  43.0      m   87.0   sydney
4  eeee  54.0      f    NaN   london

HANDILNG MISSING VALUES

missing values are empty data entries.tese can be filled(imputed)or dropped

In [5]:
df.fillna({
    'age':df['age'].mean(),
    'marks':df['marks'].mean(),
    'city':'unknown'
},inplace=True)
print(df)

   name   age gender  marks     city
0  aaaa  12.0      f  87.00   london
1  bbbb  33.0      m  87.00  ew york
2  cccc  23.0      f  98.00  unknown
3  dddd  43.0      m  87.00   sydney
4  eeee  54.0      f  89.75   london

Removing Duplicates

In [3]:
import pandas as pd
data={
    'name':['ram','sri','ram'],
    'age':[20,20,20],
    'gender':['m','f','m'],
    'marks':[40,80,40]

}

df=pd.DataFrame(data)
print("original data")
print(df)
#remove duplicates
print("\nafter removing duplicates")
print(df.drop_duplicates())

original data
  name  age gender  marks
0  ram   20      m     40
1  sri   20      m     80
2  ram   20      m     40

after removing duplicates
  name  age gender  marks
0  ram   20      m     40
1  sri   20      m     80

correcting datatypes

correcting the data typesensures each cols in your dataset uses the format(integers,floats,strings)which is essential for accurate analysis and modeling

In [14]:
import pandas as pd
df=pd.DataFrame({
     'name':['ram','sri'],

     'gender':['f','m'],
        'age':['20','30'],

     'salary':['10000','50000']
})
print(df)
print(df.dtypes)

  name gender age salary
0  ram      f  20  10000
1  sri      m  30  50000
name      object
gender    object
age       object
salary    object
dtype: object

using astype

convert specific columns into desired types

In [8]:
df['age']=df['age'].astype(int)
df['salary']=df['salary'].astype(float)
print(df.dtypes)

name       object
age         int64
salary    float64
dtype: object

Encoding categorical data

convert text categoreis into num for analysis

In [15]:
df['gender']=df['gender'].map({'f':1,'m':0})
print(df)

  name  gender age salary
0  ram       1  20  10000
1  sri       0  30  50000

using one-hot encoding for city

In [19]:
df=pd.get_dummies(df,columns=['city'])
print(df)

   name   age gender  marks  city_ew york  city_london  city_sydney
0  aaaa  12.0      f   87.0         False         True        False
1  bbbb   NaN      m   87.0          True        False        False
2  cccc  23.0      f   98.0         False        False        False
3  dddd  43.0      m   87.0         False        False         True
4  eeee  54.0      f    NaN         False         True        False

feature scaling

brings all numeric data into same scale(0 to 1 range)

In [20]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df['marks']=scaler.fit_transform(df[['marks']])
print(df)

   name   age gender  marks  city_ew york  city_london  city_sydney
0  aaaa  12.0      f    0.0         False         True        False
1  bbbb   NaN      m    0.0          True        False        False
2  cccc  23.0      f    1.0         False        False        False
3  dddd  43.0      m    0.0         False        False         True
4  eeee  54.0      f    NaN         False         True        False

adding features

In [ ]:
import pandas as pd
data={
    'name'=['aa','bb','vv'],

}